build/
~
*.mode1v3
*.pbxuser
.DS_Store
*.perspectivev3
pbrechler.*
*.xcuserstate
*.xcscheme
rh.*
Hoccer.xcodeproj/project.xcworkspace/xcuserdata/
Hoccer.xcodeproj/xcuserdata/
distribution-profile-2013.developerprofile
