build/
~
*.mode1v3
*.pbxuser
.DS_Store
*.perspectivev3
pbrechler.*

/Hoccer.xcodeproj/project.pbxproj
/Hoccer.xcodeproj/project.xcworkspace/xcuserdata/pbrechler.xcuserdatad/UserInterfaceState.xcuserstate