<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://hoccer.com/hoclet/test.html</string>
		<key>label</key>
		<string>Hallo Welt</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://hoccer.com/hoclet/hocclet.html</string>
		<key>label</key>
		<string>Hoccer Kitten</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://hoccer.com/hoclet/blb.html</string>
		<key>label</key>
		<string>BLB</string>
	</dict>
</array>
</plist>
