<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openInPreview</key>
	<false/>
	<key>playSound</key>
	<true/>
	<key>firstRunTipShown</key>
	<false/>
	<key>autoKey</key>
	<true/>
	<key>autoPassword</key>
	<true/>
	<key>encryptionKey</key>
	<string>changeme</string>
	<key>encryption</key>
	<true/>
	<key>sendPassword</key>
	<true/>
	<key>enableTLS</key>
	<true/>
	<key>encryptionInit</key>
	<false/>
	<key>encryptionTipShown</key>
	<false/>
</dict>
</plist>
